/* Reset style global */
* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  background-color: #e2e1e1;
}

/* Alinhamentos, espaçamento, larguras e alturas */

header h1, main h2 {
  margin-bottom: 70px;
}

.form h2 {
  text-align: center;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
}

header, main, footer {
  text-align: center;
}

header, .form, main {
  margin: 0 auto 70px auto;
  width: 90%;
  max-width: 500px;
}

/* Header */

header p {
  font-size: 16px;
}

header button {
  margin-top: 16px;
  padding: 8px 20px;
  border-radius: 5px;
  border: none;
  background-color: #ff4f4f;
  color: white;
  font-weight: bold;
}

#iconheart {
  color: #ff4f4f;
}

/* Form */
section.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  align-items: center;

  background-color: #ff4f4f;
  padding: 16px 64px;
  border-radius: 6px;
}

form input, form button {
  width: 100%;
  margin-bottom: 4px;
  padding: 8px 16px;
  border: 1px rgb(202, 200, 200) solid;
  border-radius: 5px;
}

form input::placeholder {
  color: rgb(194, 194, 194);
}

form button {
  font-weight: bold;
  color: white;
  background-color: #f32b2b;
  border: none;
  margin-top: 5px;
  text-transform: uppercase;
}


/* Main */

#icondonors {
  color: #ff4f4f;
}

main .donors {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

main h2 span {
  color: #ff4f4f;
}

.blood {
  color: #ff4f4f;
  font-weight: bold;
  font-size: 12px;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.blood::before {
  content: "";
  background-color: #ff4f4f22;
  width: 40px;
  height: 40px;
  position: absolute;
  border-radius: 50%;
  border-top-right-radius: 0;
  transform: rotate(-45deg);
}

.donor p {
  margin-top: 25px;
  margin-bottom: 50px;
  font-size: 14px;
}


/* footer */
footer {
  margin-top: auto;
  padding: 16px;
  border: 1px solid #eee;
}


/* Funcionalidade JavaScript */

section.form {
  transition: all 300ms;
}

section.form.hide {
  opacity: 0;
  visibility: hidden;
  height: 0;
  margin-top: -70px;
}